* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    max-height: 100vh;
    font-family: sans-serif;
}
p {
    font-size: 12px;
}

.button-container {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 3;
    display: inline-block;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.7);
}
.button-container button {
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
}
.button-container button:hover {
    background-color: white;
    color: black;
}


.menu {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: 100vh;
    background-color: black;
    color: grey;
}
.menu .logo img {
    padding: 1rem;
    width: 70%;
}
.menu ul {
    list-style: none;
}
.menu li {
    width: 100%;
    text-align: start;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}
.menu li img {
    display: inline-block;
    width: 10%;
}
.menu li h4 {
    display: inline-block;
    padding-left: .5rem;
}
.active {
    border-left: 2px solid green;
    color: white;
}

.playlists-container {
    height: 30vh;
    overflow: auto;
}
.menu h2 {
    padding: 1rem;
    color: white;
}
.playlist {
    margin-left: 1rem;
    padding: .5rem 0;
}
.playlist:first-of-type {
    display: flex;
    align-items: center;
}
.playlist i {
    font-size: 2rem;
    padding-right: .5rem;
}

.profile {
    margin-top: 5rem;
}
.profile .row-1, .profile .row-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.row-1 img {
    height: 1rem;
    margin: .7rem 1rem;
}
.row-1 hr {
    width: 80%;
    margin: 0 1rem;
}
.row-2 img {
    height: 1.5rem;
    margin: .7rem 1rem;
    background-color: grey;
    border-radius: 50%;
}
.row-2 h4 {
    color: white;
}




main {
    position: absolute;
    z-index: 2;
    top:0;
    left: 250px;
    right: 0;
    background-color: #141922;
    width: calc(100%-250px);
    height: 100%;
    overflow: scroll;
}
main h2 {
    color: white;
    padding: 1rem;
}
main p {
    color: grey;
}
main .horizontal {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.horizontal ul {
    list-style: none;
}
.horizontal ul li {
    display: inline-block;
    padding: 0 1rem;
}
.horizontal ul li a {
    font-size: .7rem;
    width: 20%;
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
}
.horizontal ul li a:hover{
    border-bottom: 2px solid green;
}

.recent {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
}
.song {
    width: 200px;
    padding: 1rem;
    flex-shrink: 0;
}
.cover {
    width: 100%;
}
.cover img {
    width: 100%;
}
.cover .overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 10;
}
.song h5 {
    color: white;
    padding: .6rem 0;
}
.song p {
    font-size: 0.8rem;
}

.forYou-heading p, .popular-heading p {
    padding-left: 1rem;
}

.forYou {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
}

.popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
    padding-bottom: 7rem;
}
.popular .song .cover img {
    border-radius: 50%;
}




footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 8;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #282828;
}

.player-left {
    width: 20%;
    display: flex;
    height: 100%;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    color: grey;
}
.player-left img {
    height: 100%;
}
.player-left h5 {
    color: white;
}

.player-center {
    width: 40%;
}
.player-center .controls {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.play-btn {
    font-size: 2rem;
}
.lenght {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0;
    color: white;
}
.durata {
    width: 80%;
    height: .4rem;
    border-radius: 5px;
    background-color: grey;
}
.minuto {
    width: 40%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
}

.player-right {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.volume {
    width: 50%;
    height: .4rem;
    border-radius: 5px;
    background-color: grey;
}
.level {
    width: 40%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
}

